ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
    position: fixed;
    top: 0;
    width: 100%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Belinsky;
    font-weight: bold;
    font-size: 12px;
}

li a:hover:not(.active) {
    background-color: #111;
}

li a.active {
    background-color: #04AA6D;
}