html, body {
    height: 100%;
}

ul {
    background-color: blue;
    top: 0;
    width: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li a {
    display: block;
    padding: 14px 16px;
    text-align: center;
    font-family: Belinsky;
    font-weight: bold;
    font-size: 12px;
    text-decoration:none;
    text-decoration-color:palegreen;
    color:white;
}

li a:hover:not(.current) {
    background:palegreen;
    color:black;
}

li a.current {
    text-decoration:underline;
}

div#main {
    height:100%;
    background-image: url('../images/tetris.png');
    background-size: 90%;
    background-position:center, center;
    background-repeat:no-repeat;
}